<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><a href="./">index</a></p>
<p><a href="./helloworld">helloworld</a></p>
<p><a href="./newuser">newuser</a></p>
<p><a href="./userlist">userlist</a></p>
</body>
</html>
